name: Deploy Vue to GitHub Pages

# 1. 触发条件：当 main 分支有 push 时触发
on:
  push:
    branches: [ main ]

# 2. 任务设置
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest # 使用 ubuntu 系统镜像

    steps:
      # 步骤一：拉取代码
      - name: Checkout
        uses: actions/checkout@v3

      # 步骤二：安装 pnpm (必须在 setup-node 之前)
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8 # 指定你需要的 pnpm 版本

      # 步骤二：安装 Node.js 环境
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.19.0' # 或者你当前使用的 node 版本

      # 步骤三：安装依赖 (这里用 npm，如果你用 pnpm/yarn 请自行调整)
      - name: Install Dependencies
        run: pnpm install

      # 步骤四：打包构建
      - name: Build
        run: pnpm run build

      # 步骤五：部署到 GitHub Pages
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # Vue 默认打包输出目录是 dist
          branch: gh-pages # 部署到哪个分支，通常是 gh-pages